.n8n-chat {
  --chat--color--primary: #78A2FF;
  --chat--color--primary-shade-50: #6b94f0;
  --chat--color--primary--shade-100: #5f86e0;

  --chat--header--background: linear-gradient(135deg, #78A2FF, #5f86e0);
  --chat--message--user--background: #78A2FF;
  --chat--border-radius: 14px;
}

.n8n-chat,
.n8n-chat * {
  font-family: Inter, system-ui, -apple-system, Segoe UI, Roboto, Arial, sans-serif !important;
}
